/* _settings */
/*           */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Pacifico&display=swap');

/* border-box for everything */
* {
    box-sizing: border-box;
}

/* Setting CSS variables and root font size */
:root {
    font-size: 16px;

    --black: #4A4A4A;
    --salmon: #FF6A7C;
    --tan:  #FFF0E9;
    --grey: #B2B5BA;
    --blue: #41CADD;
    --white: #FEFEFE;

    
}